<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Primeira aplicação Backbone.js</title>
    <link rel="stylesheet" href="css/styles.css" />

    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />

</head>

<body id="checkout-page">
    <div id="pagina"></div>
    <div id="novaMensagem" class="container p-6 my-md-4 px-md-0">
        <h2>Quadro de mensagens</h2>
        <p>Digite uma mensagem:</p>
        <form id="mensagem-form" action="">
            <div class="row mb-3">
                <div class="col-12 col-sm-6 mb-3 mb-md-0 form-floating">
                    <input type="text" class="nome form-control shadow-none" placeholder="Digite o título" required>
                    <label>Digite o título</label>
                </div>
                <div class="col-12 col-sm-6 mb-3 mb-md-0 form-floating">
                    <input type="text" class="mensagem form-control shadow-none" placeholder="Digite a mensagem"
                        required />
                    <label>Digite a mensagem</label>
                </div>
            </div>
            <div class="d-flex justify-content">
                <button id="save-btn" type="submit" value="Inserir" class="btn btn-primary">Inserir</button>
            </div>
        </form>
        
    </div>

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

    <script src="js/script.js"></script>
    <script id="templateItemMensagem" type="text/template">
        <div style="margin: 20px;">
        <h2><a href="#/editar/<%= 'a' %>">Título: <%= nome %></a></h2>
        <p>
            Mensagem: <%= mensagem %>
            <p>
            <span>Registro de envio: <%= dataEnvio %></span>
            </p>
            <div class="d-flex justify-content">
            <span><input id="edit-btn" type="button" class="editar" value="Editar" /></span>
            <span><input id="delete-btn" type="button" class="apagar" value="Apagar" /></span>
        </div>
        </p>
    </div>
    </script>
</body>

</html>